Source: tasmonitor
Priority: optional
Maintainer: Matthew Baker <fimbaz@gmail.com>
Build-Depends: debhelper (>= 11), dh-python, dh-systemd,  python-all, influxdb, mosquitto
Standards-Version: 4.1.3

Package: tasmonitor
Architecture: any
Section: python
Depends: python2, ${misc:Depends}, ${python:Depends}
Description: Monitors Tasmota Devices
